*{
    font-family: 'Times New Roman', Times, serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1f834584;
    color: rgb(248, 243, 243);
    padding: 5px 0px;
    text-align: center;
    min-height: 80px;
}
.title {
    text-align: center;
    color: #1a3926;
    font-family: Garamond;
    font-size:larger
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}

nav ul li a:hover {
    background-color: green;
    border-radius: 5px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    
}

.card h3 {
    color: #109703;
    margin-bottom: 15px;
}

.card button:hover {
    background-color: green;
}
.card img {
    height: 200px;
    width: 190px;
 }

 .subtitle {
    text-align: center;
    margin-top: 20px;
}

.subtitle button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; /* Espaçamento entre os botões */
}

.subtitle button:hover {
    background-color: #1f8345;
}

.subtitle .subtitle2 {
    background-color: #1f8345aa; /* Cor de fundo para MODA FEMININA */
    font-family: 'Times New Roman', Times, serif;
    color: #1a3926;

}

.subtitle .subtitle3 {
    background-color: #1f8345aa; /* Cor de fundo para MODA MASCULINA */
    font-family: 'Times New Roman', Times, serif;
    color: #1a3926;
}

.subtitle .subtitle4 {
    background-color: #1f8345aa; /* Cor de fundo para MODA INFANTIL */
    font-family: 'Times New Roman', Times, serif;
    color: #1a3926;
}
.subtitle .subtitle5 {
    background-color: #1f8345aa; /* Cor de fundo para MODA INFANTIL */
    font-family: 'Times New Roman', Times, serif;
    color: #1a3926
}

.login{
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: #1f8345aa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    position: absolute;
    right: 0px;
    top: 50px;
    
}


.botão {
    width: 60px;
}